[1maiohappyeyeballs[0m==2.6.1
[1maiohttp[0m==3.12.13
[1maiosignal[0m==1.3.2
[1mannotated-types[0m==0.7.0
[1mantlr4-python3-runtime[0m==4.9.3
[1manyio[0m==4.9.0
[1mappnope[0m==0.1.4
[1margon2-cffi[0m==25.1.0
[1margon2-cffi-bindings[0m==21.2.0
[1marrow[0m==1.3.0
[1masttokens[0m==3.0.0
[1masync-lru[0m==2.0.5
[1mattrs[0m==25.3.0
[1mautopep8[0m==2.3.2
[1mbabel[0m==2.17.0
[1mbeautifulsoup4[0m==4.13.4
[1mblack[0m==25.1.0
[1mbleach[0m==6.2.0
[1mboltons[0m==25.0.0
[1mcertifi[0m==2025.6.15
[1mcffi[0m==1.17.1
[1mcharset-normalizer[0m==3.4.2
[1mclick[0m==8.2.1
[1mcomm[0m==0.2.2
[1mcryptography[0m==45.0.4
[1mdatasets[0m==3.6.0
[1mdawg-python[0m==0.7.2
[1mdawg2-python[0m==0.9.0
[1mdebugpy[0m==1.8.14
[1mdecorator[0m==5.2.1
[1mdefusedxml[0m==0.7.1
[1mdill[0m==0.3.8
[1mdocopt[0m==0.6.2
[1mdotenv[0m==0.9.9
[1meffdet[0m @ git+https://github.com/rwightman/efficientdet-pytorch.git@c6dff775a36cea0bf9b76c58e59f936411c5ce01
[1mexecuting[0m==2.2.0
[1mface[0m==24.0.0
[1mfastjsonschema[0m==2.21.1
[1mfilelock[0m==3.18.0
[1mflake8[0m==7.3.0
[1mflake8-pyi[0m==25.5.0
[1mflake8-pyproject[0m==1.2.3
[1mfqdn[0m==1.5.1
[1mfrozenlist[0m==1.7.0
[1mfsspec[0m==2025.5.1
[1mftfy[0m==6.3.1
[1mglom[0m==24.11.0
[1mgrobid-client-python[0m==0.0.5
[1mh11[0m==0.16.0
[1mhf-xet[0m==1.1.5
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1mhuggingface-hub[0m==0.33.0
[1midna[0m==3.10
[1miniconfig[0m==2.1.0
[1mintervaltree[0m==3.1.0
[1miopath[0m==0.1.10
[1mipdb[0m==0.13.13
[1mipykernel[0m==6.29.5
[1mipymarkup[0m==0.9.0
[1mipython[0m==9.3.0
[1mipython-pygments-lexers[0m==1.1.1
[1mipywidgets[0m==8.1.7
[1misoduration[0m==20.11.0
[1misort[0m==6.0.1
[1mjedi[0m==0.19.2
[1mjinja2[0m==3.1.6
[1mjoblib[0m==1.5.1
[1mjson5[0m==0.12.0
[1mjsonpickle[0m==4.1.1
[1mjsonpointer[0m==3.0.0
[1mjsonschema[0m==4.24.0
[1mjsonschema-specifications[0m==2025.4.1
[1mjupyter[0m==1.1.1
[1mjupyter-client[0m==8.6.3
[1mjupyter-console[0m==6.6.3
[1mjupyter-core[0m==5.8.1
[1mjupyter-events[0m==0.12.0
[1mjupyter-lsp[0m==2.2.5
[1mjupyter-server[0m==2.16.0
[1mjupyter-server-terminals[0m==0.5.3
[1mjupyterlab[0m==4.4.3
[1mjupyterlab-pygments[0m==0.3.0
[1mjupyterlab-server[0m==2.27.3
[1mjupyterlab-widgets[0m==3.0.15
[1mkiberleninka-parser[0m @ file:///Users/dianashevtsova/Desktop/kiberleninka_parser
[1mlayoutparser[0m==0.3.4
[1mmarkupsafe[0m==3.0.2
[1mmatplotlib-inline[0m==0.1.7
[1mmccabe[0m==0.7.0
[1mmistune[0m==3.1.3
[1mmmda[0m==0.2.7
[1mmpmath[0m==1.3.0
[1mmultidict[0m==6.5.0
[1mmultiprocess[0m==0.70.16
[1mmypy[0m==1.16.1
[1mmypy-extensions[0m==1.1.0
[1mnatasha[0m==1.6.0
[1mnavec[0m==0.10.0
[1mnbclient[0m==0.10.2
[1mnbconvert[0m==7.16.6
[1mnbformat[0m==5.10.4
[1mncls[0m==0.0.68
[1mnecessary[0m==0.4.3
[1mnest-asyncio[0m==1.6.0
[1mnetworkx[0m==3.5
[1mnltk[0m==3.9.1
[1mnotebook[0m==7.4.3
[1mnotebook-shim[0m==0.2.4
[1mnumpy[0m==2.3.0
[1momegaconf[0m==2.3.0
[1mopencv-python[0m==4.11.0.86
[1moverrides[0m==7.7.0
[1mpackaging[0m==25.0
[1mpandas[0m==2.3.0
[1mpandocfilters[0m==1.5.1
[1mpapermage[0m==0.0.2
[1mparso[0m==0.8.4
[1mpathspec[0m==0.12.1
[1mpdf2image[0m==1.17.0
[1mpdfminer-six[0m==20250506
[1mpdfplumber[0m==0.11.7
[1mpexpect[0m==4.9.0
[1mpillow[0m==11.2.1
[1mplatformdirs[0m==4.3.8
[1mpluggy[0m==1.6.0
[1mportalocker[0m==3.2.0
[1mprometheus-client[0m==0.22.1
[1mprompt-toolkit[0m==3.0.51
[1mpropcache[0m==0.3.2
[1mpsutil[0m==7.0.0
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpyarrow[0m==20.0.0
[1mpycocotools[0m==2.0.10
[1mpycodestyle[0m==2.14.0
[1mpycparser[0m==2.22
[1mpydantic[0m==2.11.7
[1mpydantic-core[0m==2.33.2
[1mpyflakes[0m==3.4.0
[1mpygments[0m==2.19.1
[1mpymorphy2[0m==0.9.1
[1mpymorphy2-dicts-ru[0m==2.4.417127.4579844
[1mpymorphy3[0m==2.0.4
[1mpymorphy3-dicts-ru[0m==2.4.417150.4580142
[1mpypdf[0m==5.6.1
[1mpypdf2[0m==3.0.1
[1mpypdfium2[0m==4.30.1
[1mpysbd[0m==0.3.4
[1mpytesseract[0m==0.3.13
[1mpytest[0m==8.4.1
[1mpython-dateutil[0m==2.9.0.post0
[1mpython-dotenv[0m==1.1.1
[1mpython-json-logger[0m==3.3.0
[1mpytz[0m==2025.2
[1mpyvis[0m==0.3.2
[1mpyyaml[0m==6.0.2
[1mpyzmq[0m==27.0.0
[1mrazdel[0m==0.5.0
[1mreferencing[0m==0.36.2
[1mregex[0m==2024.11.6
[1mrequests[0m==2.32.4
[1mrequirements-parser[0m==0.13.0
[1mrfc3339-validator[0m==0.1.4
[1mrfc3986-validator[0m==0.1.1
[1mrpds-py[0m==0.25.1
[1msafetensors[0m==0.5.3
[1mscikit-learn[0m==1.7.0
[1mscipy[0m==1.15.3
[1msend2trash[0m==1.8.3
[1msetuptools[0m==80.9.0
[1msix[0m==1.17.0
[1mslovnet[0m==0.6.0
[1msmashed[0m==0.21.5
[1msniffio[0m==1.3.1
[1msortedcontainers[0m==2.4.0
[1msoupsieve[0m==2.7
[1mstack-data[0m==0.6.3
[1msympy[0m==1.14.0
[1mterminado[0m==0.18.1
[1mthreadpoolctl[0m==3.6.0
[1mtimm[0m @ git+https://github.com/huggingface/pytorch-image-models.git@3bacf433889b345c75f8f0271bc3066bb15402d7
[1mtinycss2[0m==1.4.0
[1mtokenizers[0m==0.21.1
[1mtorch[0m==2.7.1
[1mtorchvision[0m==0.22.1
[1mtornado[0m==6.5.1
[1mtqdm[0m==4.67.1
[1mtraitlets[0m==5.14.3
[1mtransformers[0m==4.52.4
[1mtrouting[0m==0.3.3
[1mtypes-python-dateutil[0m==2.9.0.20250516
[1mtyping[0m==3.10.0.0
[1mtyping-extensions[0m==4.14.0
[1mtyping-inspection[0m==0.4.1
[1mtzdata[0m==2025.2
[1muri-template[0m==1.3.0
[1murllib3[0m==2.4.0
[1mvila[0m==0.5.0
[1mwand[0m==0.6.13
[1mwcwidth[0m==0.2.13
[1mwebcolors[0m==24.11.1
[1mwebencodings[0m==0.5.1
[1mwebsocket-client[0m==1.8.0
[1mwidgetsnbextension[0m==4.0.14
[1mxxhash[0m==3.5.0
[1myargy[0m==0.16.0
[1myarl[0m==1.20.1
